In [1]:
import numpy as np 
import pandas as pd

In [2]:
df = pd.read_excel("onepiece_names1.xlsx")

In [3]:
df.head()

,Name,Image,Gender,Age,Devil Fruit,Last Bounty,Debut Arc,Haki,Affiliation,Debut Chapter ; Episode
0,Monkey D. Luffy,monkey_d_luffy.jpg,Male,19,Zoan,3B,Romance Dawn,All,Straw Hat Pirates,Chapter 1; Episode 1
1,Roronoa Zoro,roronoa_zoro.jpg,Male,21,NaN,1.1B,Romance Dawn,All,Straw Hat Pirates,Chapter 3; Episode 1
2,Vinsmoke Sanji,vinsmoke_sanji.jpg,Male,21,NaN,1B,Baratie,ArmObs,Straw Hat Pirates,Chapter 43; Episode 20
3,Nami,nami.jpg,Female,20,NaN,366M,Orange Town,NaN,Straw Hat Pirates,Chapter 8; Episode 1
4,Nico Robin,nico_robin.jpg,Female,30,Paramecia,930M,Whisky Peak,NaN,Straw Hat Pirates,Chapter 114; Episode 67

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 10 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Name                     267 non-null    object
 1   Image                    267 non-null    object
 2   Gender                   267 non-null    object
 3   Age                      267 non-null    object
 4   Devil Fruit              131 non-null    object
 5   Last Bounty              264 non-null    object
 6   Debut Arc                267 non-null    object
 7   Haki                     118 non-null    object
 8   Affiliation              249 non-null    object
 9   Debut Chapter ; Episode  267 non-null    object
dtypes: object(10)
memory usage: 21.0+ KB

In [5]:
df["Age"]

0      19
1      21
2      21
3      20
4      30
       ..
262     8
263     8
264     8
265    69
266    30
Name: Age, Length: 267, dtype: object

## Converting Age to numerical

In [6]:
df["Age"] = df["Age"].astype(str).str.replace("+", "", regex=False)
df["Age"] = pd.to_numeric(df["Age"], errors="coerce")

## Clean Debut part

In [7]:
df["Episode"] = df["Debut Chapter ; Episode"]
df.drop(["Debut Chapter ; Episode"],axis=1,inplace=True)

In [8]:
df["Episode"] = df["Episode"].apply(lambda x: x.split(";")[1] if isinstance(x, str) else x)

In [9]:
df["Episode"]

0          Episode 1
1          Episode 1
2         Episode 20
3          Episode 1
4         Episode 67
           ...
262     Episode 1087
263     Episode 1094
264     Episode 1092
265      Episode 932
266        Episode 0
Name: Episode, Length: 267, dtype: object

## Bounty

In [10]:
df["Last Bounty"] = df["Last Bounty"].fillna(0)


def convert_bounty(value):
    if isinstance(value, str):
        if value.endswith("M"):  
            return float(value.replace("M", "")) * 1_000_000
        elif value.endswith("B"):  
            return float(value.replace("B", "")) * 1_000_000_000
        elif value.isnumeric():  
            return int(value)
    return 0  


df["Last Bounty"] = df["Last Bounty"].apply(convert_bounty)


df["Last Bounty"] = df["Last Bounty"].astype("int64")

In [11]:
df.head(200)

,Name,Image,Gender,Age,Devil Fruit,Last Bounty,Debut Arc,Haki,Affiliation,Episode
0,Monkey D. Luffy,monkey_d_luffy.jpg,Male,19.0,Zoan,3000000000,Romance Dawn,All,Straw Hat Pirates,Episode 1
1,Roronoa Zoro,roronoa_zoro.jpg,Male,21.0,NaN,1100000000,Romance Dawn,All,Straw Hat Pirates,Episode 1
2,Vinsmoke Sanji,vinsmoke_sanji.jpg,Male,21.0,NaN,1000000000,Baratie,ArmObs,Straw Hat Pirates,Episode 20
3,Nami,nami.jpg,Female,20.0,NaN,366000000,Orange Town,NaN,Straw Hat Pirates,Episode 1
4,Nico Robin,nico_robin.jpg,Female,30.0,Paramecia,930000000,Whisky Peak,NaN,Straw Hat Pirates,Episode 67

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 267 entries, 0 to 266
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Name         267 non-null    object
 1   Image        267 non-null    object
 2   Gender       267 non-null    object
 3   Age          265 non-null    float64
 4   Devil Fruit  131 non-null    object
 5   Last Bounty  267 non-null    int64
 6   Debut Arc    267 non-null    object
 7   Haki         118 non-null    object
 8   Affiliation  249 non-null    object
 9   Episode      267 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 21.0+ KB